QDRANT_URL=url_here
QDRANT_COLLECTION=collection_name_here

LOGFIRE_TOKEN=logfire_write_tokens

GEMINI_API_KEY=api_key_here
GROQ_API_KEY=api_key_here

POSTGRES_USER=reader
POSTGRES_PASSWORD=reader
POSTGRES_DB=reading_companion
DATABASE_URL=postgresql://user:pwd@localhost:5432/db