pymupdf
sentence-transformers
qdrant-client
langchain-core
langchain-text-splitters
pydantic-settings
logfire[fastapi]
ruff 
pytest

google-genai
groq

sqlalchemy
psycopg2-binary

fastapi
uvicorn
python-multipart